@import "react-notion-x/src/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.notion-link {
  color: rgb(75, 170, 210) !important;
  word-break: break-word;
  text-decoration: none !important;
  border-bottom: none !important;
  opacity: 1 !important;
  transition: color 100ms ease-in;
}

.notion-link:hover {
  color: #165eaa !important;
}
